@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC";
}

body {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 3em;
}

#logo {
    max-height: 100px;
}

#search_row {
    display: flex;
    max-width: 1250px;
    margin: auto;
}

#search_row input {
    width: 100%;
    padding: 7px;
}

#search_row button img {
    height: 16px;
}

#recipe {
    border: 1px solid #333;
    padding: 20px;
    margin: auto;
    max-width: 1250px;
}

.recipe-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#recipimg {
    max-height: 357px;
    max-width: 475px;
    object-fit: cover;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-label {
    padding: 5px 10px;
    border: 2px solid black;
    font-size: 1.3rem;
    max-width: fit-content;
}

.recipe-content h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 3em;
    margin-bottom: 4px;
}

.rating {
    display: flex;
    gap: 5px;
    font-size: 1.5rem;
}

.recipe-description {
    font-size: 1.3em;
}

.recipe-details {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.recipe-details ul,
.recipe-details ol {
    margin-left: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 20px;
    max-width: 1250px;
    margin: auto;
}

footer .social {
    display: flex;
    gap: 15px;
}

footer img {
    height: 50px;
}

@media screen and (max-width: 960px) {
    .recipe-top {
        flex-direction: column;
    }

    #recipimg {
        width: 100%;
        max-height: 300px;
    }

    .recipe-description {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #search_row {
        padding: 0 10px;
    }

    #recipe {
        width: 90%;
    }

    header {
        flex-direction: row;
    }

    #logo {
        max-height: 80px;
    }
}
