
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f7f8;
    color: #222;
    padding: 20px;
    line-height: 1.6;
}


header {
    background: #0057b8;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
}

h1 {
    font-size: 2.2rem;
}


main {
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 1.6rem;
    color: #0057b8;
}


main p {
    margin-bottom: 20px;
    font-size:3rem;
}


.funky {
    color: #e63946;
    font-weight: bold;
}


ul {
    list-style: none;
}

li {
    background: #fff;
    padding: 12px 16px;
    margin: 8px 0;
    border-radius: 6px;
    transition: transform 0.2s, background-color 0.3s;
}

li:hover {
    background: #eaf4ff;
    transform: translateX(6px);
}


a {
    text-decoration: none;
    color: #0057b8;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


footer {
    margin-top: 40px;
    background: #0057b8;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
}
