body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.5;
  padding: 35px 0;
  text-align: center;
}


.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 158px;
  border: 2px solid #E1E1E1;
}

.title h1 {
  text-transform: uppercase;  
  margin-bottom: 15px;
  font-weight: normal;
  letter-spacing: 4px;
}

.title h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #006EB6;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 46px;
  border-bottom: 2px solid #E1E1E1;
}

p, ol {
  text-align: left;
  margin-bottom: 20px;
}

.does-list {
  padding-left: 40px;
}
.does-list li {
  margin-bottom: 20px; 
}

.logo {
  width: 150px;
  display: block;
  margin: 60px auto 5px auto;
}

body.dark .title h2 {
  color: #5AB9EA; 
}

#theme-button{
  position: absolute;
  margin: 1rem 1rem;
  left: 0px;
  top: 0px;
}