* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
justify-content: end;
}

hr{
margin-top: 50px;
}
.main-nav > li {
  padding: 1em;
}
.media-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.media-card__content > h3 {
  margin-top: 0;
}

@media screen and (min-width: 550px) {
  .media-card {
    flex-direction: row;
  }
  .media-card__image {
    flex: 0 1 250px;
  }
  .media-card__content {
    flex: 0 1 60ch;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.gallery > * {
  flex: 1 1 460px;
}