@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #EFC69B;
--secondary-color: #AF1B3F;
--text-dark: #473144;
--text-light: #ebebeb;
--primary-font: Helvetica, Arial, sans-serif;
--secondary-font:  Lora, Impact, serif;
}

body {
    color: var(--text-dark);
    font-family: var(--primary-font);
}

a, h2 {
    color: var(--secondary-color);
}

h1, h2 {
    font-family: var(--secondary-font);
    text-align: center;
}

hr {
    color: var(--primary-color)
}

nav > ul {
    display: flex;
    justify-content: end;
    margin: 15px;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    list-style: none;
}

li {
    margin: 15px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px;
}

.filter {
    border: 1px solid var(--primary-color);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.detail {
    margin: 25px;
    padding-right: 20px;
    border-right: 1px solid var(--primary-color);
}

.detail p {
    text-align: right;
}

/*change to book*/
.book {
    margin: 25px;
    align-items: center;
}

.skiptocontent a {
    margin: 25px;
	background: var(--primary-color);
    position: absolute;
}
.skiptocontent a:focus {
	transform: translateY(0%);
}

.detail p:first-child {
    font-size: 125%;
}